body{
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.left{
    float: left;
}
.el-header {
    background: #151515;
    padding: 0;
    border: 0;
}
h3,h2,h4{
    font-size: 120%;
    font-weight: 400;
    color: #1f2f3d;
}
p{
    font-size: 14px;
    color: #444950;
    line-height: 1.5em;
    margin-top: 0;
}
.el-menu--horizontal>.el-menu-item,
.el-submenu{
    height: 46px;
    line-height: 46px;
}
.el-menu--horizontal>.el-submenu .el-submenu__title {
    height:auto;
    line-height: 46px;
    border-bottom: inherit;
}
.el-menu-item,.el-submenu__title {
    list-style: none;
    height: auto;
    line-height: inherit;
    list-style: none
}
/*右导航*/
.el-header .group-right{
    float: right;
    margin-right: 10px;
}
.el-header .group-right>div{
    padding: 0 !important;
}
.el-header .group-right>ul>li{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
/* menu-group 箭头图标占位正常 */
/* 现在的问题是下拉菜单的方位不对 */
.el-header .group-right ul li .el-icon-arrow-down{
    position: static;
    vertical-align: middle;
    margin-left: 8px;
    margin-top: -3px;
}
.el-header .group-right ul li .el-icon-arrow-right{
    display: none;
}
.el-header .group-right .submenu{
    top: 49px !important;
    right: 0px !important;
    left: auto !important;
}
.el-header .el-dropdown-link{
    color: #fff;
    border: 1px solid #525252;
    border-radius: 6px;
    padding: 5px 10px;
}

.el-header .submenu ul{
    background-color: #fff !important;
}
.el-header .submenu li{
    background-color: inherit !important;
    color: #303133 !important;
}
.el-header .submenu li:hover{
    background-color: #f2f2f2 !important;
}
.el-header .submenu a{
    text-decoration: auto;
    color: #303133;
}
.el-menu--popup {
    min-width: 120px;
}

.icon{
    font-size: 24px;
}
.primary{
    color: #409EFF;
    cursor: default;
}
.warning{
    color: #e6a23c;
    cursor: default;
}
.success{
    color: #67c23a;
    cursor: default;
}
.danger{
    color: #f56c6c;
    cursor: default;
}
.version{
    margin: 0;
    text-align: right;
    color: #f2f2f2;
}
i.el-alert__icon{
    vertical-align: middle;
}
.is-light{
    background-color: #fef0f0 !important;
    color: #f56c6c;
}
.is-light.el-alert--info {
    background-color: #f4f4f5 !important;
}

/*任务表单弹窗*/
.config-form-box .el-dialog__header{
    padding: 14px 20px 10px;
}
.config-form-box .el-dialog__body{
    padding: 6px 20px;
}
.config-form-box .el-form-item{
    margin-bottom: 10px;
}
.config-form-box .el-tabs{
    margin: 10px 0;
}
.config-form-box .el-tabs--border-card>.el-tabs__content{
    padding-top: 0;
    padding-bottom: 10px;
}
.config-form-box .el-tabs--border-card>.el-tabs__content .el-form-item{
    margin: 6px 0;
    overflow: hidden;
}
.http_header_box .el-input-group__prepend,
.http_header_box .el-input-group__append,
.http_url_box .el-input-group__prepend{
    background: #FFFFFF;
}
.http_url_box .el-input-group__prepend .el-input{
    width: 120px;
}
.http_header_box .el-input-group__prepend{
    width: 240px;
    padding: 0 2px;
}
.http_header_box .el-input-group__prepend input{
    line-height: 38px;
    height: 38px;
    border: 0;
    padding: 0 13px;
}
.var_fields .el-input-group__prepend{
    width: 350px;
}
/*.http_header_box .el-input-group__append{*/
/*    padding: 0 5px;*/
/*    overflow: hidden;*/
/*}*/
.http_header_box.el-form-item--mini .el-input-group__prepend input{
    line-height: 26px;
    height: 26px;
}
.el-dropdown-link{
    cursor: pointer;
}


/* 日志 */
.config-log {}
/* 日志 踪迹 */
.trace-page{
    position: relative;
    margin-bottom: 50px;
}
.trace-page .median{
    position: absolute;
    height: 100%;
    width: 2px;
    background: #d3e3fd;
    z-index: 1;
    cursor: col-resize;
}
.trace-page .trace-header{
    display: flex;
    color: #999;
}
.trace-page .label{
    width: 292px;
    font-weight: 500;
    font-size: 1.17em;
    padding: 2px 4px;
}
.trace-page .total-desc{
    padding-left: 6px;
}
.trace-page .total-desc span{
    padding-right: 12px;
}
.trace-page .total-desc b{
    color: #444;
}
.trace-page .trace-wrapper td.el-table__cell,
.trace-page .trace-wrapper th.el-table__cell.is-leaf {
    border-bottom: 1px solid #fff;
}
.trace-page .el-table td.el-table__cell{
    vertical-align: top;
    padding:0;
}
.trace-page .trace-wrapper td:first-child .cell{
    display: flex;
    padding-left: 6px;
}
.trace-page .trace-wrapper .cell{
    padding: 0;
}
.span-label{
    color: #1b1b1b;
}
.is-light{
    color: #dc362e;
}
.trace-page .trace-wrapper .cell .span-label{
    flex: 1;
    background: #f7f9fd;
    cursor: pointer;
    padding: 0 4px;
    overflow: hidden;
}
.trace-page .trace-wrapper .el-table__empty-block{
    min-height: auto;
}
.trace-page .trace-wrapper .el-table__empty-block .el-table__empty-text{
    line-height: 120%;
}

.trace-page .span-detail{
    overflow: auto;
    width: 100%;
    min-height: 50px;
    position: relative;
    /*background: #e6e6e6;*/
}
.trace-page .span-detail table tr td:first-child{
    color: #999;
}
.trace-page .span-bar-wrapper{
    width: 100%;
    background: #f7f9fd;
    cursor: pointer;
}
.trace-page .span-bar{
    position: relative;
}
.trace-page .span-bar-label{
    position: absolute;
    top: 0;
    white-space: nowrap;
    margin: 0 4px;
}
.trace-page .span-header{
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    background: #edeff6;
    border: 1px solid #d3e3fd;
}
.trace-page .span-detail .el-breadcrumb{
    display: inline-block;
    vertical-align: middle;
}
.trace-page .span-logs-box{
    /*border: 1px solid;*/

}

.trace-page .span-logs-box .span-wrapper{
    padding-left: 14px;
}
.trace-page .span-logs-box .span-wrapper .span-header{
    border: none;
    padding: 4px 0;
    background: #f7f9fd;
}

.sort-drag-box .drag{
    transform: rotate(90deg);
    cursor: n-resize;
}
.sort-drag-box .item-drag-current{
    background: #c8ebfb !important;
}
.sort-drag-box .item-close{
    cursor: pointer;
    position: absolute;
    right: 6px;
    color: #72767b;
}
.sort-drag-box .item-close:hover{
    color: #191919;
}
.sort-drag-box .sortable-chosen{
    color:red;
}

.config-select-wrap .el-dialog__body{
    padding: 0px 20px;
}
.config-select .el-table .el-table__cell{
    padding: 8px 0;
}
b code{
    font-weight: normal;
}

.my-work .header{
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 2px;
}
.my-table-icon{
    font-size: 15px;
    width: 22px;
    display: inline-block;
    cursor: pointer;
    margin-right: 8px;
}
.my-table-icon i{
    background: #409EFF;
    color: #fff;
    border-radius: 50%;
    padding: 1px;
}