<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务列表</title>
    <link rel="stylesheet" href="/static/css/element-ui@2.15.9.css">
    <script src="/static/js/vue@2.7.8.js"></script>
    <script src="/static/js/element-ui@2.15.9.js"></script>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <div id="app">
        <el-container>
            <el-aside width="200px">边栏</el-aside>
            <el-container>
                <el-header>
                    <a href="https://cron.qqe2.com/">6位 时间格式生成器</a>
                </el-header>

                <el-main>
                    <el-button type="text" @click="dialogFormVisible = true">添加任务</el-button>

                    <el-table :data="listData">
                        <el-table-column prop="id" label="编号"></el-table-column>
                        <el-table-column prop="spec" label="执行时间"></el-table-column>
                        <el-table-column prop="name" label="任务名称"></el-table-column>
                        <el-table-column prop="protocol_name" label="协议"></el-table-column>
                        <el-table-column prop="remark" label="备注"></el-table-column>
                        <el-table-column prop="status_name" label="状态"></el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="text" @click="editShow(scope.$index)">操作</el-button>
                                <el-button type="text">日志</el-button>
                            </template>
<!--                            // 操作，再弹窗中进行操作（小型弹窗）；-->
<!--                            // 日志，侧边栏弹窗查看完整日志；-->
                        </el-table-column>
                    </el-table>
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page.sync="listPage.page"
                            :page-size="listPage.size"
                            layout="total, prev, pager, next"
                            :total="listPage.total">
                    </el-pagination>
                </el-main>

                <el-footer>页脚</el-footer>
            </el-container>
        </el-container>



        <el-dialog title="添加任务" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <el-form-item label="活动名称*">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="时间*">
                    <el-input v-model="form.spec"></el-input>
                </el-form-item>
                <el-form-item label="协议*">
                    <el-select v-model="form.protocol" placeholder="请选择命令协议">
                        <el-option label="http" value="1"></el-option>
                        <el-option label="rpc" value="2"></el-option>
                        <el-option label="cmd" value="3"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="命令内容*">
                    <el-input type="textarea" v-model="form.command" rows="5"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input v-model="form.remark"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="createCron()">确 定</el-button>
            </div>
        </el-dialog>

        <el-dialog title="编辑任务" :visible.sync="dialogEditConf">
            <el-form :model="form">
                <el-form-item label="活动名称">
                    <el-input v-model="editForm.name"></el-input>
                </el-form-item>
                <el-form-item label="时间">
                    <el-input v-model="editForm.spec"></el-input>
                </el-form-item>
                <el-form-item label="协议">
                    <p>{{editForm.protocol_name}}</p>
                </el-form-item>
                <el-form-item label="命令内容*">
                    <p>{{editForm.command}}</p>
                </el-form-item>
                <el-form-item label="状态">
                    <el-select v-model="editForm.status" placeholder="请选择状态">
                        <el-option label="停用" value="1"></el-option>
                        <el-option label="激活" value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input v-model="editForm.remark"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogEditConf = false">取 消</el-button>
                <el-button type="primary" @click="editSubmit()">确 定</el-button>
            </div>
        </el-dialog>
    </div>


</body>
<script>
    new Vue({
        el: '#app',
        data(){
            return {
                listData: [],
                listPage:{
                    total:0,
                    page: 1,
                    size: 20,
                },
                dialogFormVisible: false, // 新增弹窗
                dialogEditConf: false, // 编辑弹窗
                form:{
                    name: '',
                    spec: '',
                    protocol: null,
                    command: '',
                    remark: '',
                },
                editForm: {}, // 编辑内容
            };
        },
        created(){
            this.getList()
        },
        methods:{
            // 任务列表
            getList(){
                api.innerGet("/config/list", {}, (res)=>{
                    console.log("列表响应",res)
                    if (res.code != "000000"){
                        return this.$message.error(res.message);
                    }
                    this.listData = res.data.list;
                    this.page = res.data.page;
                })
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            },
            // 添加任务
            createCron(){
                if (this.form.name == ''){
                    return this.$message.error('请输入任务名称')
                }else if (this.form.spec == ''){
                    return this.$message.error('请输入任务执行时间')
                }else if (!this.form.protocol){
                    return this.$message.error('请选择任务协议')
                }else if (this.form.command == ''){
                    return this.$message.error('请输入命令类容')
                }
                // 主要是强制类型
                let body = {
                    name: this.form.name,
                    spec: this.form.spec,
                    protocol: Number(this.form.protocol),
                    command: this.form.command,
                    remark: this.form.remark,
                }

                api.innerPost("/config/set", body, (res)=>{
                    console.log("添加响应",res)
                    if (res.code != '000000'){
                        return this.$message.error(res.message)
                    }
                    this.dialogFormVisible = false;
                    this.form = {}; // 清空表达数据
                    this.getList(); // 刷新当前页
                })
            },
            // 编辑任务
            editShow(index){
                this.dialogEditConf = true
                this.editForm = this.listData[index]
                this.editForm.status = this.editForm.status.toString() // 这里要转字符串，否则可能显示数字
            },
            // 编辑提交
            editSubmit(){
                let body = JSON.parse(JSON.stringify(this.editForm));// 深拷贝 json
                body.status = Number(body.status)

                api.innerPost("/config/edit", body, (res)=>{
                    if (res.code != '000000'){
                        return this.$message.error(res.message)
                    }
                    this.dialogEditConf = false
                    this.getList(); // 刷新当前页
                })

            }
        }
    })
</script>
</html>