<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务列表</title>
    <link rel="stylesheet" href="/static/css/element-ui@2.15.9.css">
    <script src="/static/js/vue@2.7.8.js"></script>
    <script src="/static/js/element-ui@2.15.9.js"></script>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <div id="app">
        <el-container>
            <el-aside width="200px">边栏</el-aside>
            <el-container>
                <el-header>页头</el-header>
                <el-main>
                    <el-button type="text" @click="dialogFormVisible = true">添加任务</el-button>


                    <el-table>
                        <el-table-column prop="" label="编号"></el-table-column>
                        <el-table-column prop="" label="任务名称"></el-table-column>
                        <el-table-column prop="" label="时间"></el-table-column>
                        <el-table-column label="操作"></el-table-column>
                    </el-table>
                </el-main>
                <el-footer>页脚</el-footer>
            </el-container>
        </el-container>



        <el-dialog title="添加任务" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <el-form-item label="活动名称*">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="时间*">
                    <el-input v-model="form.spec"></el-input>
                </el-form-item>
                <el-form-item label="协议*">
                    <el-select v-model="form.protocol" placeholder="请选择命令协议">
                        <el-option label="http" value="1"></el-option>
                        <el-option label="rpc" value="2"></el-option>
                        <el-option label="cmd" value="3"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="命令内容*">
                    <el-input type="textarea" v-model="form.command" rows="5"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input v-model="form.remark"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="createCron()">确 定</el-button>
            </div>
        </el-dialog>
    </div>


</body>
<script>
    new Vue({
        el: '#app',
        data(){
            return {
                listData: [],
                dialogFormVisible: false,
                form:{
                    name: '',
                    spec: '',
                    protocol: null,
                    command: '',
                    remark: '',
                }
            };
        },
        created(){
            this.getList()
        },
        methods:{
            // 任务列表
            getList(){
                api.innerGet("/config/list", {}, (res)=>{
                    console.log("列表响应",res)
                })
            },
            // 添加任务
            createCron(){
                if (this.form.name == ''){
                    return this.$message.error('请输入任务名称')
                }else if (this.form.spec == ''){
                    return this.$message.error('请输入任务执行时间')
                }else if (!this.form.protocol){
                    return this.$message.error('请选择任务协议')
                }else if (this.form.command == ''){
                    return this.$message.error('请输入命令类容')
                }
                // 主要是强制类型
                let body = {
                    name: this.form.name,
                    spec: this.form.spec,
                    protocol: Number(this.form.protocol),
                    command: this.form.command,
                    remark: this.form.remark,
                }

                api.innerPost("/config/set", body, (res)=>{
                    console.log("添加响应",res)
                })

                this.dialogFormVisible = false;
            }
        }
    })
</script>
</html>