<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务列表</title>
    <link rel="stylesheet" href="/static/css/element-ui@2.15.9.css">
    <style>
        .icon{
            font-size: 24px;
        }
        .primary{
            color: #409EFF;
        }
        .warning{
            color: #e6a23c;
        }
        .success{
            color: #67c23a;
        }
        .danger{
            color: #f56c6c;
        }
        .version{
            margin: 0;
            text-align: right;
            color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-container>
            <!-- <el-aside width="200px">边栏</el-aside> -->
            <el-container>
                <el-header>
                    <el-button type="text" @click="createShow()">添加任务</el-button>
                    <el-button type="text" @click="registerList()">已注册任务</el-button>
                    <div style="float: right">
                        <a href="https://cron.qqe2.com/" target="_blank" >6位 时间格式生成器</a>
                        <p class="version">[[.version]]</p>
                    </div>
                </el-header>

                <el-main>


                    <el-menu :default-active="labelType" class="el-menu-demo" mode="horizontal" @select="handleClickTypeLabel">
                        <el-menu-item index="1">周期任务</el-menu-item>
                        <el-menu-item index="2">单次任务</el-menu-item>
                    </el-menu>
                    <el-table :data="listData">
                        <el-table-column prop="id" label="编号"></el-table-column>
                        <el-table-column prop="" label="执行成功率">
                            <template slot-scope="scope">
                                <el-tooltip placement="top-start">
                                    <div slot="content">{{scope.row.topRatio}}%<br/>近期{{scope.row.top_number}}次执行，{{scope.row.top_error_number}}次失败。</div>
                                    <i :class="getTopIcon(scope.row.top_number, scope.row.topRatio)"></i>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                        <el-table-column prop="spec" label="执行时间"></el-table-column>
                        <el-table-column prop="name" label="任务名称"></el-table-column>
                        <el-table-column prop="protocol_name" label="协议"></el-table-column>
                        <el-table-column prop="remark" label="备注"></el-table-column>
                        <el-table-column prop="" label="状态">
                            <template slot-scope="scope">
                                <el-tooltip placement="top-start">
                                    <div slot="content">{{scope.row.status_dt}}  {{scope.row.status_remark}}</div>
                                    <span :class="statusClass(scope.row.status)">{{scope.row.status_name}}</span>
                                </el-tooltip>



<!--                                <el-switch-->
<!--                                        validate-event="true"-->
<!--                                        :value="scope.row.status"-->
<!--                                        active-value="2"-->
<!--                                        inactive-value="1"-->
<!--                                        @change="changeStatus(scope.$index, scope.row.id, $event)"-->
<!--                                ></el-switch>-->
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="{row}">
                                <el-button type="text" @click="editShow(row)">编辑</el-button>
                                <el-button type="text" @click="changeStatus(row, 2)" v-if="row.status!=2">激活</el-button>
                                <el-button type="text" @click="changeStatus(row, 1)" v-if="row.status==2">停用</el-button>
                                <el-button type="text" @click="logByConfig(row.id, row.name)">日志</el-button>
                            </template>
<!--                            // 操作，再弹窗中进行操作（小型弹窗）；-->
<!--                            // 日志，侧边栏弹窗查看完整日志；-->
                        </el-table-column>
                    </el-table>
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page.sync="listPage.page"
                            :page-size="listPage.size"
                            layout="total, prev, pager, next"
                            :total="listPage.total">
                    </el-pagination>
                </el-main>

                <!-- <el-footer>页脚</el-footer> -->
            </el-container>
        </el-container>

        <!-- 任务设置表单 -->
        <el-dialog :title="setConfigTitle" :visible.sync="setConfigShow" :close-on-click-modal="false">
            <el-form :model="form">
                <el-form-item label="活动名称*">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="类型*">
                    <el-select v-model="form.type" placeholder="请选请求方式" @change="changeType">
                        <el-option label="周期" value="1"></el-option>
                        <el-option label="单次" value="2"></el-option>
                    </el-select>
                </el-form-item>


                <el-form-item label="时间*">
                    <el-input v-model="form.spec" :placeholder="hintSpec"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-tabs type="border-card" v-model="form.protocol">
                        <el-tab-pane label="http" name="1">
                            <el-form-item label="请求方式">
                                <el-select v-model="form.command.http.method" placeholder="请选请求方式">
                                    <el-option label="GET" value="GET"></el-option>
                                    <el-option label="POST" value="POST"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="请求url地址">
                                <el-input v-model="form.command.http.url" placeholder="请输入http:// 或 https:// 开头的完整地址"></el-input>
                            </el-form-item>
                            <el-form-item label="请求body参数">
                                <el-input type="textarea" v-model="form.command.http.body" rows="5" placeholder="POST请求时body参数，将通过json进行请求发起"></el-input>
                            </el-form-item>
                        </el-tab-pane>
<!--                        <el-tab-pane label="rpc" name="2">-->
<!--                            <el-form-item label="请求模式">-->
<!--                                <el-select v-model="form.command.rpc.method" placeholder="请选请求方式">-->
<!--                                    <el-option label="GRPC" value="GRPC"></el-option>-->
<!--                                </el-select>-->
<!--                            </el-form-item>-->
<!--                            <el-form-item label="地址">-->
<!--                                <el-input v-model="form.command.rpc.addr" placeholder="请输入服务地址，含端口; 示例：localhost:21014"></el-input>-->
<!--                            </el-form-item>-->
<!--                            <el-form-item label="方法">-->
<!--                                <el-input v-model="form.command.rpc.action" placeholder="请输入服务方法; 示例：/merchantpush.Merchantpush/Echo"></el-input>-->
<!--                            </el-form-item>-->
<!--                            <el-form-item label="请求参数">-->
<!--                                <el-input type="textarea" v-model="form.command.rpc.body" rows="5" placeholder="请输入请求参数"></el-input>-->
<!--                            </el-form-item>-->
<!--                        </el-tab-pane>-->
                        <el-tab-pane label="cmd" name="3">
                            <el-input type="textarea" v-model="form.command.cmd" rows="5" :placeholder="sysInfo.cmd_name + ': 请输入命令行执行内容'"></el-input>
                        </el-tab-pane>
                        <el-tab-pane label="sql" name="4" label-position="left">
                            <el-form-item label="驱动">
                                <el-select v-model="form.command.sql.driver" placeholder="驱动">
                                    <el-option label="mysql" value="mysql"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="链接">
                                <el-select v-model="form.command.sql.source.id" placement="请选择sql链接">
                                    <el-option v-for="(dic_v,dic_k) in dicMap[1]" :label="dic_v.name" :value="dic_v.id"></el-option>
                                </el-select>
                                <el-button type="text" style="margin-left: 20px" @click="sqlSourceBox(true)">设置链接</el-button>
                            </el-form-item>
                            <el-form-item label="执行语句">
                                <div><el-button type="text" @click="sqlSetShow(-1,'')"><i class="el-icon-plus">添加</i></el-button></div>
                                <div v-for="(statement,sql_index) in form.command.sql.statement" style="position: relative;max-height: 200px;overflow: auto;background: #fff;margin-bottom: 10px;">
                                    <pre style="margin: 0"><code class="language-sql hljs" style="min-height: 50px;">{{statement}}</code></pre>
                                    <i class="el-icon-delete" style="font-size: 20px;position: absolute;top: 17px;right: 0px;cursor:pointer" @click="sqlSetDel(sql_index)"></i>
                                    <i class="el-icon-edit" style="font-size: 20px;position: absolute;top: 50px;right: 0px;cursor:pointer" @click="sqlSetShow(sql_index,statement)"></i>
                                </div>
                                <el-alert v-show="form.command.sql.statement.length==0" title="未添加执行sql，请添加。" type="info"></el-alert>
                            </el-form-item>
                            <el-form-item label="错误行为">
                                <el-radio v-model="form.command.sql.err_action" label="1">错误终止任务</el-radio>
                                <el-radio v-model="form.command.sql.err_action" label="2">错误跳过继续</el-radio>
                            </el-form-item>
                        </el-tab-pane>
                    </el-tabs>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input v-model="form.remark"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="setConfigShow = false">取 消</el-button>
                <el-button type="primary" @click="setCron()">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 任务日志弹窗 -->
        <el-drawer :title="configLogTitle" :visible.sync="configLogShow" direction="rtl" size="40%" wrapperClosable="false">
            <el-table :data="logListData">
                <el-table-column property="create_dt" label="记录时间"></el-table-column>
                <el-table-column property="status_name" label="状态">
                    <template slot-scope="scope">
                        <el-tag :type="scope.row.status == 1 ? 'danger' : 'success'">{{scope.row.status_name}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column property="duration" label="耗时/秒"></el-table-column>
                <el-table-column property="" label="详情">
                    <template slot-scope="scope">
                        <el-popover trigger="hover" placement="left">
                            <div>{{scope.row.body.substring(0, 120)+'...'}}</div>
                            <el-button slot="reference" @click="logBodyShow(scope.row)">查看</el-button>
                        </el-popover>
                    </template>
                </el-table-column>
            </el-table>
        </el-drawer>
        <!-- 注册任务列表弹窗 -->
        <el-drawer title="已注册任务" :visible.sync="registerListShow" direction="rtl" size="40%" wrapperClosable="false">
            <el-table :data="registerListData">
                <el-table-column property="id" label="编号"></el-table-column>
                <el-table-column property="spec" label="执行时间"></el-table-column>
                <el-table-column property="update_dt" label="下一次执行"></el-table-column>
                <el-table-column property="name" label="任务名称"></el-table-column>
                <el-table-column property="" label="">
                    <template slot-scope="scope">
                        <el-button type="text" @click="logByConfig(scope.row.id, scope.row.name)">日志</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-drawer>
        <!-- sql设置弹窗 -->
        <el-dialog :title="'sql设置-'+sqlSet.title" :visible.sync="sqlSet.show" :show-close="false" :close-on-click-modal="false">
            <el-input type="textarea" rows="12" placeholder="请输入sql内容" v-model="sqlSet.data"></el-input>
            <span slot="footer" class="dialog-footer">
                <el-button @click="sqlSet.show = false">取 消</el-button>
                <el-button type="primary" @click="sqlSetConfirm()">确 定</el-button>
            </span>
        </el-dialog>

        <!-- sql链接源管理弹窗 -->
        <el-drawer title="sql链接管理" :visible.sync="sqlSourceBoxShow" size="40%" wrapperClosable="false" :before-close="sqlSourceBox">
            <sql-source :reload_list="sqlSourceBoxShow"></sql-source>
        </el-drawer>
        <!-- 日志详情弹窗 -->
        <el-dialog title="日志详情" :visible.sync="logBodyVisible" size="30%" style="white-space: pre;">
            <pre><code>{{logBody.replace(/\\n/g, '\n').replace(/\\t/g, '\t')}}</code></pre>
        </el-dialog>
    </div>


</body>
<script src="/static/js/vue@2.7.8.js"></script>
<script src="/static/js/element-ui@2.15.9.js"></script>
<script src="/static/js/home.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/components/sql_source.js"></script>

<script>

    new Vue({
        el: '#app',
        data(){
            return {
                listData: [],
                listPage:{
                    total:0,
                    page: 1,
                    size: 20,
                },
                listParam:{
                  type: 1,
                  page: 1,
                  size: 20,
                },
                logListData: [], // 日志列表，没有分页；
                logBodyVisible: false,
                logBody: "",
                configLogShow: false, // 任务日志弹窗
                configLogTitle: '',
                registerListData: [],
                registerListShow: false,
                setConfigShow: false, // 新增弹窗
                setConfigTitle: '',
                sqlSourceBoxShow: false,
                sqlSet: {
                    show: false, // 是否显示
                    title: '添加',
                    index: -1, // 操作行号
                    data: "", // 实际内容
                }, // sql设置弹窗
                form:{},
                sysInfo: {cmd_name:""},
                hintSpec: "* * * * * *",
                labelType: '1',
                dicMap:{},
            };
        },
        created(){
            this.getList()
            api.innerGet("/system/info",{}, (res)=>{
                if (res.code != "000000"){
                    return this.$message.error(res.message);
                }
                this.sysInfo = res.data;
            })
            this.initFormData()
            this.getDic()
        },
        watch:{

        },
        methods:{
            // 任务列表
            getList(){
                api.innerGet("/config/list", this.listParam, (res)=>{
                    console.log("列表响应",res)
                    if (res.code != "000000"){
                        return this.$message.error(res.message);
                    }
                    for (i in res.data.list){
                        let ratio = 0
                        if (res.data.list[i].top_number){
                            ratio = res.data.list[i].top_error_number / res.data.list[i].top_number
                        }
                        if (res.data.list[i].command.sql){
                            res.data.list[i].command.sql.err_action = res.data.list[i].command.sql.err_action.toString()
                        }
                        res.data.list[i].status = res.data.list[i].status.toString()
                        res.data.list[i].topRatio = 100 - ratio * 100
                    }
                    this.listData = res.data.list;
                    this.listPage = res.data.page;
                })
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.listParam.page = val
                this.getList()
            },
            handleClickTypeLabel(tab, event) {
                this.listParam.type = tab
                this.getList()
                console.log("类型标签页点击", tab, event);
            },
            // 枚举
            getDic(){
                api.innerFoundationDic("1",(res) =>{
                    if (res.code != "000000"){
                        return this.$message.error(res.message);
                    }
                    let list = {};
                    for (k in res.data.maps){
                        console.log("枚举----", k)
                        list[k] = res.data.maps[k].list
                    }
                    this.dicMap = list
                    console.log("枚举", this.dicMap, res)
                })
            },
            // 添加/编辑 任务
            setCron(){
                if (this.form.name == ''){
                    return this.$message.error('请输入任务名称')
                }else if (this.form.spec == ''){
                    return this.$message.error('请输入任务执行时间')
                }else if (!this.form.protocol){
                    return this.$message.error('请选择任务协议')
                }
                // else if (this.form.command == ''){
                //     return this.$message.error('请输入命令类容')
                // }

                // 主要是强制类型
                let body = {
                    id: this.form.id,
                    name: this.form.name,
                    type: Number(this.form.type),
                    spec: this.form.spec,
                    protocol: Number(this.form.protocol),
                    command: this.form.command,
                    remark: this.form.remark,
                }
                body.command.sql.err_action = Number(body.command.sql.err_action)
                body.command.sql.source.id = Number(body.command.sql.source.id)

                api.innerPost("/config/set", body, (res)=>{
                    if (!res.status){
                        return this.$message.error(res.message)
                    }
                    this.setConfigShow = false;
                    this.initFormData()
                    this.getList(); // 刷新当前页
                })
            },
            // 添加弹窗
            createShow(){
                this.setConfigShow = true
                this.setConfigTitle = '添加任务'
                // 应该有个地方定义空结构体
                this.initFormData()
            },
            initFormData(){
                this.form = {
                    command:{
                        http:{
                            method: '',
                            url:'',
                            body:''
                        },
                        rpc:{
                            method: 'GRPC',
                            addr: '',
                            action: '',
                            body: ''
                        },
                        cmd:'',
                        sql:{
                            driver: "mysql",
                            source:{
                                id: "",
                                // title: "",
                                // hostname:"",
                                // port:"",
                                // username:"",
                                // password:""
                            },
                            statement:[],
                            err_action: "1",
                        },
                    }
                }
            },
            // 编辑弹窗
            editShow(row){
                this.setConfigShow = true
                this.setConfigTitle = '编辑任务'
                this.form = row
                this.form.type = this.form.type.toString()
                this.form.status = this.form.status.toString() // 这里要转字符串，否则可能显示数字
                this.form.protocol = this.form.protocol.toString()
                console.log("编辑：",this.form)
                this.changeType()
            },
            // 改变状态
            changeStatus(row, newStatus){
                this.$confirm(newStatus==1? '确认关闭任务': '确认开启任务', '提示',{
                    type: 'warning',
                }).then(()=>{
                    // 确认操作
                    api.innerPost("/config/change_status", {id:row.id,status:Number(newStatus)}, (res)=>{
                        console.log("状态改变响应",res)
                        if (res.code != '000000'){
                            return this.$message.error(res.message)
                        }
                        row.status = newStatus.toString()
                        row.status_name = newStatus == 1 ? '停用' :'激活'
                        return this.$message.success(res.message)
                    })
                }).catch(()=>{
                    // 取消操作
                })
            },
            // 改变类型
            changeType: function (){
                if (this.form.type == 2 || this.form.type == '2'){
                    this.hintSpec = "YYYY-mm-dd HH:MM:SS"
                }else{
                    this.hintSpec = "* * * * * *"
                }
            },
            // 配置日志
            logByConfig(id, title){
                this.configLogShow = true;
                this.configLogTitle = title+' 任务日志';
                api.innerGet("/log/by_config", {conf_id:id, limit:15}, (res)=>{
                    if (res.code != "000000"){
                        return this.$message.error(res.message);
                    }
                    this.logListData = res.data.list;
                })
            },
            // 日志描述展示
            logBodyShow(logItem){
                this.logBody = logItem.body
                this.logBodyVisible=true
                // this.$alert('<div style="white-space: pre;">'+logItem.body+'<div>', '日志详情',{
                //     dangerouslyUseHTMLString: true
                // })
            },
            registerList(){
                this.registerListShow = true;
                api.innerGet("/config/register_list", {}, (res)=>{
                    if (res.code != "000000"){
                        return this.$message.error(res.message);
                    }
                    this.registerListData = res.data.list;
                })
            },
            // 成功率图标
            getTopIcon(total, ratio){
                // 没有执行
                if (total == 0){
                    return "icon el-icon-remove-outline" // 0
                }
                // 成功率100
                if (ratio == 100){
                    return "icon el-icon-circle-check success"
                }
                // 成功率66以上
                if (ratio < 100 && ratio > 66){
                    return "icon el-icon-warning-outline warning"
                }
                // 成功率33以上
                if (ratio < 66 && ratio > 33){
                    return "icon el-icon-circle-plus-outline danger"
                }
                // 成功率33一下
                return "icon el-icon-circle-close danger"
            },
            // sql source box
            sqlSourceBox(show){
                this.sqlSourceBoxShow = show == true;
                if (!this.sqlSourceBoxShow){
                    this.getDic() // 关闭弹窗要重载枚举
                }
            },
            // sql设置弹窗
            sqlSetShow(index, oldData){
                if (index === "" || index == null || isNaN(index)){
                    console.log('sqlSetShow', index, oldData)
                    return this.$message.error("索引位标志异常");
                }
                if (typeof oldData != 'string'){
                    return this.$message.error("sql内容异常");
                }
                this.sqlSet.show = true
                this.sqlSet.index = Number(index)  // -1.新增、>=0.具体行的编辑
                this.sqlSet.data = oldData // 原来的内容
                this.sqlSet.title = this.sqlSet.index < 0? '添加' : '编辑';
            },
            // sql设置确定
            sqlSetConfirm(){
                if (this.sqlSet.data == ""){
                    return this.$message.error("sql内容不得为空");
                }
                if (typeof this.sqlSet.index !== 'number'){
                    console.log('sqlSetShow', this.sqlSet)
                    return this.$message.error("索引位标志异常");
                }
                if (this.sqlSet.index < 0){
                    this.form.command.sql.statement.push(this.sqlSet.data)
                }else{
                    this.form.command.sql.statement[this.sqlSet.index] = this.sqlSet.data
                }
                this.sqlSet.show = false
                this.sqlSet.data = ""
                this.sqlSet.index = -1
            },
            // 删除sql元素
            sqlSetDel(index){
                if (index === "" || index == null || isNaN(index)){
                    console.log('sqlSetDel', index)
                    return this.$message.error("索引位标志异常");
                }
                this.$confirm('此操作将删除sql执行语句，是否继续？','提示',{
                    type:'warning',
                }).then(()=>{
                    this.form.command.sql.statement.splice(index,1)
                })
            },
            statusClass(status){
                switch (Number(status)) {
                    case 1:
                        return 'warning';
                    case 2:
                        return 'primary';
                    case 3:
                        return 'success';
                    case 4:
                        return 'danger';
                }
            }
        }
    })
</script>
</html>